<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrganizeClick</servlet-name>
  	<display-name>OrganizeClick</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.OrganizeClick</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManagerServlet</servlet-name>
  	<display-name>ManagerServlet</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OrganizeMeetServlet</servlet-name>
  	<display-name>OrganizeMeetServlet</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.OrganizeMeetServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelMeetClick</servlet-name>
  	<display-name>CancelMeetClick</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.CancelMeetClick</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelBooking</servlet-name>
  	<display-name>CancelBooking</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.CancelBooking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditMeetClick</servlet-name>
  	<display-name>EditMeetClick</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.EditMeetClick</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditBooking</servlet-name>
  	<display-name>EditBooking</display-name>
  	<description></description>
  	<servlet-class>com.webapp.controller.EditBooking</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrganizeClick</servlet-name>
  	<url-pattern>/OrganizeClick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManagerServlet</servlet-name>
  	<url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OrganizeMeetServlet</servlet-name>
  	<url-pattern>/OrganizeMeetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelMeetClick</servlet-name>
  	<url-pattern>/CancelMeetClick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelBooking</servlet-name>
  	<url-pattern>/CancelBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditMeetClick</servlet-name>
  	<url-pattern>/EditMeetClick</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditBooking</servlet-name>
  	<url-pattern>/EditBooking</url-pattern>
  </servlet-mapping>
</web-app>
